<div class="modal fade" id="staticBackdrop{{ link_id }}" data-bs-backdrop="static" tabindex="-1"
     role="dialog"
     aria-labelledby="staticBackdropLabel{{ link_id }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-light">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel{{ link_id }}">{{title}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
               {{text}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <form action="{{action_link}}">
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </form>
            </div>
        </div>
    </div>
</div>