{% extends 'base.html' %}
{% load static %}
{% block title %}
Список заявок
{% endblock %}
{% block content %}
{% include 'includes/header_template.html' %}
{% include 'application/includes/nav_tabs_template.html' %}
<div>
    <table class="table table-striped w-50 bg-white" style="margin-left: 25%;">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ФИО</th>
            <th scope="col">Город</th>
            <th scope="col">ВУЗ</th>
            <th scope="col">Год рождения</th>
            <th scope="col">Средний балл диплома</th>
            <th scope="col">Итоговый балл</th>
            <th scope="col">Заполненность, %</th>
        </tr>
        </thead>
        <tbody>
        {% for app in object_list %}
        <tr>
            <th>{{ forloop.counter }}</th>
            <td scope="row">
                <h5 class="card-title"><a
                        href="{% url 'application' app.id %}" class="">{{ app.member }}</a>
                </h5>
            </td>
            <td>
                {{ app.birth_place }}
            </td>
            <td>
                {{ app.university }}
            </td>
            <td>
                {{ app.birth_day }}
            </td>
            <td>
                {{ app.avg_score }}
            </td>
            <th>
                {{ app.final_score }}
            </th>
            <td>
                {{ app.fullness }}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

