{% extends 'base.html' %}
{% load static %}
{% block title %}
Создание заявки
{% endblock %}
{% block content %}
{% include 'includes/header_template.html' %}
{% include 'application/includes/nav_app_template.html' %}

<div class="container mt-2">
    {% for level in levels %}
    <div class="row col-md-6 offset-3 mb-2">
            <div class="col">{{ level.0 }}</div>
            <div class="col">{{ level.1 }}</div>
    </div>
    {% endfor %}
    <form action="{% url 'choose_app_competence' %}" method="POST">
    {% csrf_token %}
    <div class="row row-cols-4">
        {% for competence in competencies %}
            <div class="col mb-2 text-center">{{ competence.name }}</div>
            <div class="col mb-2">
                <select class="custom-select mr-sm-2" id="{{ competence.id }}" name="{{ competence.id }}">
                    {% for level in levels %}
                        <option value="{{ level.0 }}" >{{ level.0 }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endfor %}
    </div>
    <button type="submit" class="w-10 btn btn-primary justify-content-center" style="margin-left: 45%;">Сохранить</button>
    </form>
</div>



{% endblock %}