{% extends 'base.html' %}
{% load static %}
{% block title %}
Создание заявки
{% endblock %}
{% block content %}
{% include 'includes/header_template.html' %}
{% include 'application/includes/nav_app_template.html' %}
<div class="col-md-6 offset-3 text-center mt-4">
    <form action="{% url 'create_application' %}" class="form-horizontal" method="post" id="form-container">
        {% csrf_token %}
        {% if msg %}
            <div class="alert alert-danger">{{ msg }}</div>
        {% endif %}
        {{ app_form.as_p }}
        {{ education_formset.management_form }}
        {% for form in education_formset %}
            <div class="education-form">
                {{form.as_p}}
            </div>
        {% endfor %}
        <div id="add-form" class="mb-2">
            <button type="button" class="btn btn-outline-secondary">Добавить образование</button>
        </div>
        <div class="mb-2">
            <button type="submit" class="btn btn-primary">Создать</button>
        </div>

    </form>
</div>

<script>
    let educationForm = document.querySelectorAll(".education-form")
    let container = document.querySelector("#form-container")
    let addButton = document.querySelector("#add-form")
    let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

    let formNum = educationForm.length-1 //Get the number of the last form on the page with zero-based indexing
    addButton.addEventListener('click', addForm)
</script>
{% endblock %}

