{% extends 'base.html' %}
{% load static %}
{% block title %}
Создание заявки
{% endblock %}
{% block content %}
{% include 'includes/header_template.html' %}
{% include 'application/includes/nav_app_template.html' %}

<div class="w-50 bg-white list-group-item list-group-item-light" style="margin-left: 25%;">
    <div class="row">
    <form action="{% url 'edit_application' app_id %}" class="form-horizontal" method="post" id="form-container">
        {% csrf_token %}
        {% if msg %}
            <div class="alert alert-danger">{{ msg }}</div>
        {% endif %}

        {% for f in app_form %}
        {% if f.label == 'Дата рождения' %}
            <h5 class="text-center mb-3">Основная информация</h5>
        {% elif f.label == 'Достижения' %}
            <h5 class="text-center mb-3">Дополнительная информация</h5>
        {% endif %}
            <div class="form-group row mb-2">
                <label class="col-sm-3 col-form-label">{{ f.label }}</label>
                <div class="col-sm-9">
                    {{ f }}
                </div>
            </div>
            {% if app_form.errors %}
                <div class="mt-1 mb-0 alert-danger rounded">
                    {{ f.errors }}
                </div>
            {% endif %}
        {% endfor %}

        <h5 class="text-center mb-3">Образование</h5>
        {{ education_formset.management_form }}
        {% for ed_form in education_formset %}
            <div class="education-form border border-light rounded mb-1">
                {% for e_f in ed_form %}
                    <div class="form-group row mb-2">
                        <label class="col-sm-3 col-form-label">{{ e_f.label }}</label>
                        <div class="col-sm-9">
                            {{ e_f }}
                        </div>
                    </div>
                    {% if ed_form.errors %}
                        <div class="mt-1 mb-0 alert-danger rounded">
                            {{ e_f.errors }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}

        <div id="add-form" class="mb-2 text-center">
            <button type="button" class="btn btn-outline-secondary">Добавить образование</button>
        </div>
        <div class="mb-2 text-center">
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
    </form>
    </div>
</div>

<script>
    let educationForm = document.querySelectorAll(".education-form")
    let container = document.querySelector("#form-container")
    let addButton = document.querySelector("#add-form")
    let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

    let formNum = educationForm.length-1 //Get the number of the last form on the page with zero-based indexing
    addButton.addEventListener('click', addForm)
</script>
{% endblock %}

