{% extends 'base.html' %}
{% load static %}
{% block title %}
Выбор направлений
{% endblock %}
{% block content %}
{% include 'includes/header_template.html' %}
{% include 'application/includes/nav_app_template.html' %}

{% if msg %}
  <div class="btn w-50 mt-2" style="margin-left: 25%">
    {{ msg }}
    <button type="button" class="btn btn-outline-primary">
      <a href="{% url name pk %}">Выбрать</a>
    </button>
  </div>

{% else %}
  <div class="w-50 bg-white list-group-item" style="margin-left: 25%;">
    {% if not blocked %}
      <form action="{% url 'choose_app_direction' pk %}" method="POST">
        {% csrf_token %}
        {% include 'application/includes/app_directions_list.html' %}
        <button type="submit" class="w-10 mb-2 btn btn-primary justify-content-center" style="margin-left: 45%;">Сохранить</button>
      </form>
    {% else %}
      {% include 'application/includes/app_directions_list.html' %}
    {% endif %}
  </div>
{% endif %}

{% endblock %}