{% extends 'base.html' %}
{% load static %}
{% block title %}
Создание заявки
{% endblock %}
{% block content %}
{% include 'includes/header_template.html' %}
{% include 'application/includes/nav_app_template.html' %}

<div class="w-50 bg-white list-group-item list-group-item-light" style="margin-left: 25%;">
    <div class="row">
        <form action="{% url 'create_application' %}" class="form-horizontal" method="post" id="form-container">
            {% include 'includes/app_form_field_template.html' %}
        </form>
    </div>
</div>

<script src="{% static 'js/add_education_form.js' %}" type="text/javascript"></script>
{% endblock %}

