{% extends 'base.html' %}
{% load static %}
{% block title %}
{% load application_extras %}
Список заявок
{% endblock %}
{% block content %}
{% include 'includes/header_template.html' %}
{% include 'application/includes/nav_tabs_template.html' %}

<div class="container-fluid">
    <div class="row justify-content-center">

        <div class="col-2 mb-3 bg-white position-relative">
            <h5>
                Фильтры
            </h5>
            {% if reset_filters %}
            <a class="nav-link position-absolute top-0 end-0 text-nowrap" href=" {% url 'application_list' %} ">Сбросить
                фильтры</a>
            {% endif %}
            <form method="get">
                {% include 'includes/get_form_field_template.html' %}
                <div class="mt-2 mb-2 text-center">
                    <button type="submit" class="btn btn-outline-dark">Применить</button>
                </div>
            </form>
        </div>
        <div class="col-9">
            <table class="table table bg-white">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <td scope="col">ФИО</td>
                    <td scope="col">Сезон призыва</td>
                    <td scope="col">Место рождения</td>
                    <td scope="col">ВУЗ</td>
                    <td scope="col">Программа</td>
                    <td scope="col">Дата рождения</td>
                    <td scope="col">Средний балл диплома</td>
                    <td scope="col">Итоговый балл</td>
                    <td scope="col" class="text-nowrap">Заполнил, %</td>
                    <td scope="col">Отобран</td>
                    <td scope="col" class="text-nowrap">В избранном</td>
                    <td scope="col">Заметки</td>
                </tr>
                </thead>
                <tbody>
                {% for app in object_list %}
                <tr class="{% if app.is_booked_our %}bg-success bg-opacity-25{%endif%} {% if not app.our_direction %} table-active {% endif %}">
                    <th class="text-center">
                        {% get_object_number page_obj.number page_obj.paginator.per_page is_paginated forloop.counter %}
                        {% if not app.pk in viewed_apps %}
                            <span class="dot"></span>
                        {% endif %}
                    </th>
                    <td scope="row">
                        <h5 class="card-title">
                            <a href="{% url 'application' app.id %}" class="">{{ app.member }}</a>
                        </h5>
                    </td>
                    <td scope="row" class="text-nowrap">
                        {{app.get_draft_time}}
                    </td>
                    <td scope="row">
                        {{ app.birth_place }}
                    </td>
                    <td scope="row">
                        {% if app.university %}
                        {{ app.university }}
                        {% endif %}
                    </td>
                    <td scope="row">
                        {% get_education_type_name app.education_type %}
                    </td>
                    <td scope="row">
                        {{ app.birth_day }}
                    </td>
                    <td scope="row">
                        {% if app.avg_score %}
                        {{ app.avg_score }}
                        {% endif %}
                    </td>
                    <td scope="row">
                        {{ app.final_score }}
                    </td>
                    <td scope="row">
                        {{ app.fullness }}
                    </td>
                    <td scope="row">
                        {% include 'application/includes/book_button_template.html' %}
                    </td>

                    <td scope="row">
                        {% include 'application/includes/wishlist_button_template.html' %}
                    </td>
                    <td scope="row">
                        {% if app.author_note %}
                        {{app.author_note|truncatewords:2}}
                        {% else %}
                        {% if app.note %}
                        {{app.note|truncatewords:2}}
                        {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr class="text-center">
                    <td colspan="12">
                        Извините, по данному запросу ничего не нашлось
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% include 'application/includes/pagination_template.html' %}
        </div>
    </div>
</div>
{% endblock %}

