{% extends 'base.html' %}
{% load static %}
{% load application_extras %}
{% block title %}
Просмотр заявки
{% endblock %}
{% block content %}
{% include 'includes/header_template.html' %}
{% include 'application/includes/nav_app_template.html' %}

<div class="container-fluid">
    <div class="row justify-content-end">
        <div class="col-6 bg-white list-group-item list-group-item-light border-top-0">
            <div class="text-center">
                <h4 class=""> {{ app.member }}</h4>
            </div>
            <div class="d-flex flex-row">
                {% if not app.is_final or user.member.is_master %}
                <a href="{%url 'edit_application' pk %}">
                    <button class="btn btn-outline-dark m-2">Редактировать</button>
                </a>
                {% endif %}
                <button class="btn btn-outline-secondary m-2"><a
                        href="{%url 'create_word_app' pk %}">
                    <img src="{% static 'images/word.svg' %}" alt="download file" width="20" height="20"></a>
                </button>
                {% get_is_final_switch application=app user=user%}
                {% if user.member.is_master %}
                {% include 'application/includes/book_button_template.html' %}
                {% include 'application/includes/wishlist_button_template.html' %}
                {% endif %}
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <h5 class="text-center mb-3">Основная информация</h5>
                    <div class="row col-12 mb-2">
                        <div class="col">
                            Телефон:
                        </div>
                        <div class="col">
                            {{ app.member.phone }}
                        </div>
                    </div>
                    <div class="row col-12 mb-2">
                        <div class="col">
                            Email:
                        </div>
                        <div class="col">
                            {{ app.member.user.email }}
                        </div>
                    </div>
                    <div class="row col-12 mb-2">
                        <div class="col">
                            Дата рождения:
                        </div>
                        <div class="col">
                            {{ app.birth_day }}
                        </div>
                    </div>
                    <div class="row col-12 mb-2">
                        <div class="col">
                            Место рождения:
                        </div>
                        <div class="col">
                            {{ app.birth_place }}
                        </div>
                    </div>
                    <div class="row col-12 mb-2">
                        <div class="col">
                            Национальность:
                        </div>
                        <div class="col">
                            {{ app.nationality }}
                        </div>
                    </div>
                    <div class="row col-12 mb-2 {% if user.member.is_master and not app.check_military_commissariat %} bg-danger text-dark bg-opacity-25 rounded{% endif %}">
                        <div class="col">
                            Военный комиссариат:
                        </div>
                        <div class="col">
                            {{ app.military_commissariat }}
                        </div>
                    </div>
                    <div class="row col-12 mb-2">
                        <div class="col">
                            Группа здоровья:
                        </div>
                        <div class="col">
                            {{ app.group_of_health }}
                        </div>
                    </div>
                    <div class="row col-12 mb-2">
                        <div class="col">
                            Год призыва:
                        </div>
                        <div class="col">
                            {{ app.draft_year }}
                        </div>
                    </div>
                    <div class="row col-12 mb-2">
                        <div class="col">
                            Сезон призыва:
                        </div>
                        <div class="col">
                            {{ app.get_draft_season_display }}
                        </div>
                    </div>
                </li>
                {% if user_education %}
                    <li class="list-group-item">
                        <h5 class="text-center mb-3">Образование</h5>
                        {% for educate in user_education %}
                        <div class="card text-center mb-1">
                            <div class="card-header"><h6>{{ educate.get_education_type_display }}</h6></div>
                            <div class="card-body text-dark">
                                <p class="card-title {% if user.member.is_master and not educate.check_name_uni %} bg-danger text-dark bg-opacity-25 rounded{% endif %}">
                                    Университет: {{ educate.university }}</p>
                                <p class="card-text">Специальнсть: {{ educate.specialization }} </p>
                                <p class="card-text">Средний балл: {{ educate.avg_score }}</p>
                                <p class="card-text">Наименование документа: {{ educate.name_of_education_doc }}</p>
                                <p class="card-text">Тема диплома: {{ educate.theme_of_diploma }}</p>
                                <p class="card-text">Год окончания: {{ educate.end_year }}</p>
                                <p class="card-text">Статус окончия: {% if educate.is_ended %}Окончил
                                    {% else %}Не окончил{% endif %}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </li>
                {% endif %}
                <li class="list-group-item mb-2">
                    <h5 class="text-center mb-3">Дополнительная информация</h5>
                    <div class="row col-12 mb-2">
                        <div class="col">
                            Готовность к секретности:
                        </div>
                        <div class="col">
                            {% if app.ready_to_secret %}Готов{% else %}Не готов{% endif %}
                        </div>
                    </div>
                    <div class="row col-12 mb-2">
                        <div class="col">
                            Достижения:
                        </div>
                        <div class="col">
                            {% if app.scientific_achievements %}{{ app.scientific_achievements|linebreaks }}
                            {% else %}Отсутствуют{% endif %}
                        </div>
                    </div>
                    <div class="row col-12 mb-2">
                        <div class="col">
                            Стипендии:
                        </div>
                        <div class="col">
                            {% if app.scholarships %}{{ app.scholarships|linebreaks }}{% else %}Отсутствуют{% endif %}
                        </div>
                    </div>
                    <div class="row col-12 mb-2">
                        <div class="col">
                            Кандидатские экзамены:
                        </div>
                        <div class="col">
                            {% if app.candidate_exams %}{{ app.candidate_exams|linebreaks }}
                            {% else %}Отсутствуют{% endif %}
                        </div>
                    </div>
                    <div class="row col-12 mb-2">
                        <div class="col">
                            Спортивные достижения:
                        </div>
                        <div class="col">
                            {% if app.sporting_achievements %}{{ app.sporting_achievements|linebreaks }}
                            {% else %}Отсутствуют{% endif %}
                        </div>
                    </div>
                    <div class="row col-12 mb-2">
                        <div class="col">
                            Хобби:
                        </div>
                        <div class="col">
                            {% if app.hobby %}{{ app.hobby|linebreaks }}{% else %}Отсутствуют{% endif %}
                        </div>
                    </div>
                    <div class="row col-12 mb-2">
                        <div class="col">
                            Дополнительная Информация:
                        </div>
                        <div class="col">
                            {% if app.other_information %}{{ app.other_information|linebreaks }}
                            {% else %}Отсутствуют{% endif %}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-3">
            {% if user.member.is_master %}
            {% get_application_note application=app user=user %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}