{% extends 'base.html' %}
{% load static %}
{% block title %}
Создание заявки
{% endblock %}
{% block content %}
{% include 'includes/header_template.html' %}
{% include 'application/includes/nav_app_template.html' %}

<div class="container">
    <div class="row mb-2 mt-2">
        <div class="text-center col-md-3 offset-md-3"> Анкеты пользователя: {{ request.user.first_name }} {{ request.user.last_name }}</div>
        <div class="col-md-3 offset-md-3"><button class="btn btn-outline-secondary"><a href="{%url 'create_application' %}">Редактировать</a></button></div>
    </div>
    <div class="row col-md-6 offset-3 mb-2">
        <div class="col">
          Дата рождения:
        </div>
        <div class="col">
          {{ user_app.birth_day }}
        </div>
    </div>
    <div class="row col-md-6 offset-3 mb-2">
        <div class="col">
          Место рождения:
        </div>
        <div class="col">
          {{ user_app.birth_place }}
        </div>
    </div>
    <div class="row col-md-6 offset-3 mb-2">
        <div class="col">
          Национальность:
        </div>
        <div class="col">
          {{ user_app.nationality }}
        </div>
    </div>
    <div class="row col-md-6 offset-3 mb-2">
        <div class="col">
          Военный комиссариат:
        </div>
        <div class="col">
          {{ user_app.military_commissariat }}
        </div>
    </div>
    <div class="row col-md-6 offset-3 mb-2">
        <div class="col">
          Группа здоровья:
        </div>
        <div class="col">
          {{ user_app.group_of_health }}
        </div>
    </div>
    <div class="row col-md-6 offset-3 mb-2">
        <div class="col">
          Год призыва:
        </div>
        <div class="col">
          {{ user_app.draft_year }}
        </div>
    </div>
    <div class="row col-md-6 offset-3 mb-2">
        <div class="col">
          Сезон призыва:
        </div>
        <div class="col">
          {{ user_app.draft_season }}
        </div>
    </div>
</div>

{% endblock %}