{% extends 'base.html' %}
{% load static %}
{% block title %}
Выбор компетенций
{% endblock %}
{% block content %}
{% include 'includes/header_template.html' %}
{% include 'application/includes/nav_app_template.html' %}

<div class="w-50 bg-white list-group-item" style="margin-left: 25%;">
    {% if msg %}
        <div class="btn w-50" style="margin-left: 25%"> {{msg}}
            <button type="button" class="btn btn-outline-primary">
                <a href="{% url name app_id %}">Выбрать</a>
            </button>
        </div>
    {% else %}
        {% if not blocked %}
            <form action="{% url 'choose_app_competence' app_id %}" method="POST">
                {% csrf_token %}
                {% include 'application/includes/app_competencies_list.html' %}
                <button type="submit" class="w-10 btn btn-primary justify-content-center" style="margin-left: 45%;">Сохранить</button>
            </form>

        {% else %}
            {% include 'application/includes/app_competencies_list.html' %}
        {% endif %}
    {% endif %}
</div>

{% endblock %}