{% extends 'base.html' %}
{% load static %}
{% load application_extras %}
{% block title %}
Список компетенций
{% endblock %}
{% block content %}
{% include 'includes/header_template.html' %}
{% include 'application/includes/nav_tabs_template.html' %}
<div class="w-50 bg-white list-group-item list-group-item-light" style="margin-left: 25%;">
    <div class="row">

        <h5>
            {% if directions %}
            <form id="form" action=" {% url 'competence_list' %}">
                <h3>Список добавленных компетенций в направление:</h3>
                <select class="form-select mt-3" aria-label="Select direction" name="direction" id="switch_submit">
                    {% for dir in directions %}
                    <option {% ifequal selected_direction.id dir.id %} selected {% endifequal %} value="{{dir.id}}">
                        {{dir.name }}
                    </option>
                    {% endfor %}
                </select>
            </form>
            {% else %}
            <div>
                У вас нет доступных направлений.
            </div>
            {% endif %}
        </h5>

        <div class="col">
            <h3>Выбрать компетенции: </h3>
            <form enctype="multipart/form-data" action=" {% url 'add_competences' selected_direction.id %} "
                  method="post">
                {% csrf_token %}
                {% for comp_lvl1 in picking_competences %}
                <li class="list-group-item list-group-item-light">
                    <div>
                        {% if selected_direction not in comp_lvl1.directions.all %}
                        <label class="{% if not comp_lvl1.is_estimated %} fw-bold {% endif %} ms-1 fs-4">
                            <input class="form-check-input ms-1 main_choose" type="checkbox" name="chosen_competences"
                                   value={{comp_lvl1.id}}>
                            {{comp_lvl1.name}}</label>
                        {% endif %}
                        {% for comp_lvl2 in comp_lvl1.child.all %}

                        <div class="ms-5">
                            {% if selected_direction not in comp_lvl2.directions.all %}

                            <label class="{% if not comp_lvl2.is_estimated %} fw-bold {% endif %} ms-1 fs-5">
                                <input class="form-check-input ms-1 main_choose" type="checkbox"
                                       name="chosen_competences"
                                       value={{comp_lvl2.id}}>
                                {{comp_lvl2.name}}</label>
                            {% endif %}
                            {% for comp_lvl3 in comp_lvl2.child.all %}
                            {% if selected_direction not in comp_lvl3.directions.all %}
                            <div class="ms-5">
                                <label class="{% if not comp_lvl3.is_estimated %} fw-bold {% endif %} ms-1 fs-6">
                                    <input class="form-check-input ms-1" type="checkbox" name="chosen_competences"
                                           value={{comp_lvl3.id}}>
                                    {{comp_lvl3.name}}</label>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </li>
                {% endfor %}
                <input type="submit" class="btn btn-outline-dark mt-2 mb-2" value="Выбрать компетенции"/>
            </form>
        </div>

        <div class="col">
            <h3>Выбранные компетенции: </h3>
            {% for comp_lvl1 in competences_list %}
            <li class="list-group-item list-group-item-light">
                {% if selected_direction in comp_lvl1.directions.all %}
                <span class="{% if not comp_lvl1.is_estimated %} fw-bold {% endif %} ms-1 fs-4">{{comp_lvl1.name}}</span>
                <button type="button" class="btn-close ms-3" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop{{ comp_lvl1.id }}" aria-label="Close"></button>

                {% get_delete_competence_modal competence=comp_lvl1 direction=selected_direction %}
                {% endif %}
                {% for comp_lvl2 in comp_lvl1.child.all %}
                <div class="ms-5">
                    {% if selected_direction in comp_lvl2.directions.all %}
                    <span class="{% if not comp_lvl2.is_estimated %} fw-bold {% endif %} ms-1 fs-5">{{comp_lvl2.name}}</span>
                    <button type="button" class="btn-close ms-3" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop{{ comp_lvl2.id }}" aria-label="Close"></button>
                    {% get_delete_competence_modal competence=comp_lvl2 direction=selected_direction %}
                    {% endif %}
                    {% for comp_lvl3 in comp_lvl2.child.all %}
                    {% if selected_direction in comp_lvl3.directions.all %}
                    <div class="ms-5">
                        <span class="{% if not comp_lvl3.is_estimated %} fw-bold {% endif %} ms-1 fs-6">{{comp_lvl3.name}}</span>
                        <button type="button" class="btn-close ms-3" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop{{ comp_lvl3.id }}" aria-label="Close"></button>
                        {% get_delete_competence_modal competence=comp_lvl3 direction=selected_direction %}
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>

                {% endfor %}
            </li>
            {% endfor %}
        </div>
    </div>
</div>
<script src="{% static 'js/submit_form.js' %}" type="text/javascript"></script>
<script src="{% static 'js/select_inputs.js' %}" type="text/javascript"></script>
{% endblock %}