{% extends 'base.html' %}
{% load static %}
{% load application_extras %}
{% block title %}
{{object.name}}
{% endblock %}
{% block content %}
{% include 'includes/header_template.html' %}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-6 bg-white list-group-item list-group-item-light">
            <div class="text-center">
                <h4 class=""> Рабочая группа "{{object.name}}"</h4>
            </div>
            <ul class="list-group fs-4">
                <li class="list-group-item">
                    <h5>Описание</h5>
                    {{object.description}}
                </li>
                <li class="list-group-item">
                    <h5>Принадлежность</h5>
                    {{object.affiliation}}
                </li>
                <li class="list-group-item mb-2">
                    <h5>Участники</h5>
                    {% for app in object.application.all %}
                    <div>
                        {% url 'remove_app_from_group' app.id object.id as link %}
                        {% vals_to_str 'Вы действительно хотите удалить "' app '"из рабочей группы "' object.name '" ?' as text %}
                        <a href="{% url 'application' app.id %}">{{app}}</a>
                        <button type="button" class="btn-close fs-6" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop{{ app.id }}" aria-label="Close"></button>
                        {% get_modal_window text=text action_link=link title='Удаление кандидата из рабочей группы' link_id=app.id %}
                    </div>
                    {% endfor %}
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}