{% load static %}
{% load testing_extras %}

{% if msg %}
    <div class="alert alert-info text-center">{{ msg }}</div>
{% else %}
<div class="container">
    <ul class="list-group list-group-flush">
        {% for test in test_list %}
        <li class="list-group-item" style="border-width: 0 0 0">
            <div class="card mb-2">
                <div class="col-1 w-100 card-header p-1 {% if test.test_res.all.0.status == 3 %}bg-success{% elif test.test_res.all.0.status == 2%} bg-warning{% elif test.test_res.all.0.status == 1%} bg-secondary{% endif %} bg-opacity-50 me-0 text-center"></div>
                <div class="row g-0 shadow-sm">
                    <div class="col">
                        <div class="card-body">
                            <h5 class="card-title">
                                {{test.name}}
                            </h5>
                            <p class="card-text mb-1 fst-italic">Описание: {{test.description}}</p>
                            <p class="card-text mb-1 fst-italic">Ограничение по времени (мин.): {{ test.time_limit|default:"Нет" }}</p>
                            {% if user.member.is_slave %}
                                <div class="row">
                                    <p class="col mt-2 mb-1 fst-italic">
                                        Статус: {{test.test_res.all.0.get_status_display|default:"Не начат" }}
                                    </p>
                                    {% if test.test_res.all.0.status == 3 and not test.type.is_psychological %}
                                    <p class="col mt-2 mb-1 fst-italic">
                                        Результат: {{test.test_res.all.0.result|default:"0" }} %
                                    </p>
                                    {% endif %}
                                    {% if not test.test_res.all.0.status == 3%}
                                        <a href="{% url  'add_test_result' test.pk %}" class="col text-end">
                                            <button type="button" class="btn btn-outline-dark">Пройти тест</button>
                                        </a>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}