{% csrf_token %}
{% if msg %}
    <div class="alert alert-danger">{{ msg }}</div>
{% endif %}

{{ answer_formset.management_form }}

{% for q_f in question_form %}
    <div class="form-group row mb-2 {% if q_f.label == 'Id' %}visually-hidden{% endif %}">
        <label class="col-4 col-form-label">{{ q_f.label }}</label>
        <div class="col-8">
            {{ q_f }}
        </div>
    </div>
    {% if q_f.errors %}
        <div class="mt-1 mb-0 alert-danger rounded">
            {{ q_f.errors }}
        </div>
    {% endif %}
{% endfor %}

<h6 class="text-center mb-2">Варианты ответов</h6>
<div class="row mb-1" id="form-container">
    {% for a_form in answer_formset %}
        {% for a_f in a_form.visible_fields %}
            <div class="d-flex mb-3 col-6 answer-form">
                <div class="input-group-text rounded-0 border-end-0 rounded-start">
                    <input class="form-check-input mt-0" type="checkbox" {% if a_f.value in correct_answers %} checked {% endif %} value="{{ a_f.html_name }}" name="correct_answers">
                </div>
                <div class="col">
                    {{ a_f }}
                </div>
                <div class="input-group-text delete-form rounded-0 border-start-0 rounded-end">&#9587;</div>
            </div>
        {% endfor %}
        {% for hidden in a_form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
    {% endfor %}
    <div id="add-answer" class="mb-2 text-center">
        <button type="button" class="btn btn-outline-secondary">Добавить ответ</button>
    </div>
</div>
<small class="form-text text-muted d-block mb-2">* галочки показывают правильные варианты ответов (количество должно соответствовать выбранному выше значению)</small>
<small class="form-text text-muted d-block mb-2">* "Без правильных варинатов" - относится только к психологическому тесту</small>
