{% load static %}
{% if app.can_unbook or app.our_direction and not app.is_booked %}
    <button type="button" class="btn btn-white pe-0 ps-0 pt-0" data-bs-toggle="modal"
            data-bs-target="#staticBackdrop{{ app.id }}" aria-label="book">
{% endif%}
    <span class="text-nowrap pt-3 pe-2">
        {% if app.is_booked%}
            <img src="{% static 'images/lock-fill.svg' %}" alt="download file" width="20"
                 height="20">
            {{app.company}} рота, {{app.platoon}} взвод
        {% else %}
            <img src="{% static 'images/lock.svg' %}" alt="download file" width="20" height="20">
        {% endif%}
    </span>
{% if app.can_unbook or app.our_direction and not app.is_booked %}
        </button>
{% endif %}
{% if app.can_unbook %}
    {% include 'application/includes/unbook_member_template.html' %}
{% endif %}
{% if not app.is_booked and app.our_direction %}
    {% include 'application/includes/book_member_template.html' %}
{% endif %}