<div class="modal fade" id="staticBackdropwish{{ app.id }}" data-bs-backdrop="static" tabindex="-1"
     role="dialog"
     aria-labelledby="staticBackdropwishLabel{{ app.id }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-light">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropwishLabel{{ app.id }}">Удалить из избранного</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <form action="{% url 'delete_from_wishlist' app.id %}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    Для каких взводов вы хотите удалить кандидата {{app.member}} из избранного?
                    <select class="form-select mt-3" multiple aria-label="Select direction" name="affiliations">
                    {% for aff in app.member.candidate.all %}
                    <option value="{{aff.affiliation.id}}">
                        {{ aff.affiliation }}
                    </option>
                    {% endfor %}
                </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>

                    <button type="submit" class="btn btn-outline-dark">Удалить из избранного</button>

                </div>
            </form>
        </div>
    </div>
</div>