<div class="col-md-6 offset-3 mt-2">
    <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
            <a class="nav-link {% if app_active %}active{%endif %}" aria-current="page" href="{% url 'create_application' %}">Заявка</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if direction_active %}active{%endif %}" href="{% url 'choose_direction' %}">Направления</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Документы</a>
        </li>

    </ul>
</div>