{% load count_number_apps_not_viewed from application_extras %}
<div class="w-50" style="margin-left: 25%;">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {% if application_active %}active{%endif %}" aria-current="page"
               href="{% url 'application_list' %}">Список заявок
                {% count_number_apps_not_viewed user as count_apps %}
                {% if count_apps %}
                    <span class="badge bg-primary">{{ count_apps }}</span>
                {% endif %}
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if work_list_active %}active{% endif %}" href="{% url 'work_list' %}">Рабочий список</a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle {% if competence_active %}active{%endif %}" data-bs-toggle="dropdown"
               href="{% url 'competence_list' %}" role="button" aria-expanded="false">Компетенции</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'competence_list' %}">Список компетенций</a>
                </li>
                <li><a class="dropdown-item" href="{% url 'create_competence' %}">Создать новую компетенцию</a></li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if work_groups_active %}active{% endif %}" href="{% url 'work_group_list' %}">Рабочие группы</a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if document_active %}active{% endif %}" href="{% url 'documents_templates' %}">Шаблоны документов</a>
        </li>

    </ul>
</div>