<div class="w-50" style="margin-left: 25%;">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {% if application_active %}active{%endif %}" aria-current="page" href="{% url 'application' %}">Список заявок</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if competence_active %}active{%endif %}" href="{% url 'competence_choose' %}">Компетенции</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Шаблоны документов</a>
        </li>

    </ul>
</div>