{% extends 'base.html' %}
{% load static %}
{% block title %}
Создание заявки
{% endblock %}
{% block content %}
{% include 'includes/header_template.html' %}
{% include 'application/includes/nav_tabs_template.html' %}
<div class="col-md-8 offset-2 text-center mt-4">
    <form action="{% url 'create_application' %}" class="form-horizontal" method="post">
        {% csrf_token %}
        {% if msg %}
            <div class="alert alert-danger">{{ msg }}</div>
        {% endif %}
        {{ app_form.as_p }}
        {{ education_formset.management_form }}
        {% for form in education_formset %}
            <div class="row form-row">
                <div class="col-2">
                    <label>{{form.label}}</label>
                </div>
                <div class="col-4">
                    <div class="input-group">
                        {{ form }}
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="input-group-append">
            <button class="btn btn-success add-form-row">+</button>
        </div>
        <div>
            <div class="col-4 offset-2">
                <button type="submit" class="btn btn-block btn-primary">Создать</button>
            </div>
        </div>
    </form>
</div>
<script type='text/javascript'>
$(document).on('click', '.add-form-row', function(e){
    e.preventDefault();
    cloneMore('.form-row:last', 'form');
    return false;
});
$(document).on('click', '.remove-form-row', function(e){
    e.preventDefault();
    deleteForm('form', $(this));
    return false;
});
</script>
{% endblock %}

