{% extends 'base.html' %}
{% load static %}
{% block title %}
Главная
{% endblock %}
{% block content %}
{% include 'includes/header_template.html' %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 bg-white pb-3 fs-5">
            <h5>Текущая заполненность заявки</h5>
            <div class="progress mb-2">
              <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{fullness}}%">{{fullness}}%</div>
            </div>
            <ul class="list-group mb-2">
                {% for block_key, val in filed_blocks.items %}
                    <li class="list-group-item">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" {% if val %} checked {% endif %} disabled>
                        <label class="custom-control-label">{{ block_key }}</label>
                      </div>
                    </li>
                {% endfor %}
            </ul>
            {% if chooser %}
            <h5>Текущая конкурсная ситуация</h5>
            <p class="text-center">Вы проходите в рейтинговом отборе в научную роту на направление "{{ chooser.direction }}"</p>
            <p class="text-center">Отбирающий: {{ chooser.full_name }}, телефон: {{ chooser.phone }}</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}