a {
    text-decoration: none;
}
.ui-autocomplete{
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}
.select2-container {
    width: 100% !important;
    min-width: 2em !important;
}
.related-widget-wrapper{
    padding-right: 16px;
    position: relative;
}
.related-widget-wrapper-link{
    position: absolute;
    top: 3px;
    right: 0px;
}
span.select2-selection.select2-selection--single {
    height: 33px;
}
span.select2-selection__placeholder {
    font-size: 14px;
}
.list-group-numbered > li::before {
    font-size: 1.25rem !important;
    color: #6c757d !important;
}
#countdown{
    color: #FFA500;
}
a{
    color: #2e68bf;
}
a:hover{
    color: black;
}
.nav-link{
    color: #2e68bf;
}
.active-directions{
    background-color: #D2F1D0;
}
.hidden-fields{
    background-color: #fcf0de;
}