<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="UTF-8">

    <link rel="shortcut icon" href="{% static 'images/era.jpg' %}" type="image/jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.js' %}" type="text/javascript"></script>
    <title>
        {% block title %}
        Отбор в ЭРУ
        {% endblock %}
    </title>
</head>
<body class="bg-light text-dark" style="background-image: url({% static 'images/fon_site.jpg' %})">
{% block content %}
{% endblock %}

</body>
</html>