{% extends 'base.html' %}
{% load static %}
{% block title %}
Редактировать вопрос
{% endblock %}
{% block content %}
{% include 'includes/header_template.html' %}

<div class="w-50 bg-white list-group-item list-group-item-light" style="margin-left: 25%;">
    <div class="row">
        <h5 class="text-center mb-3">Редактировать вопрос</h5>
        <form action="{% url 'update_question' pk question_id %}" enctype="multipart/form-data" class="form-horizontal" method="post">
            {% include 'testing/includes/test_add_question_form_template.html' %}
            <div class="row mb-2">
                <div class="col-auto me-auto"><a class="btn btn-outline-secondary" href="{% url 'test' pk %}">Вернуться к тесту</a></div>
                <div class="col-auto"><button type="submit" class="btn btn-outline-dark">Обновить</button></div>
            </div>
        </form>
    </div>
</div>

<script src="{% static 'js/add_answer_to_question.js' %}" type="text/javascript"></script>
{% endblock %}
