{% extends 'base.html' %}
{% load static %}
{% block title %}
Просмотр теста
{% endblock %}
{% block content %}
{% include 'includes/header_template.html' %}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-6 bg-white list-group-item list-group-item-light">
            <div class="text-center">
                <h4 class=""> Тест: {{ test.name }}</h4>
            </div>
            <ul class="list-group">
                <li class="list-group-item mb-2">
                    <div class="row col-12 mb-2">
                        <div class="col">
                            Описание теста:
                        </div>
                        <div class="col">
                            {{ test.description }}
                        </div>
                    </div>
                    <div class="row col-12 mb-2">
                        <div class="col">
                            Ограничение по времени:
                        </div>
                        <div class="col">
                            {{ test.time_limit }} минут
                        </div>
                    </div>
                    {% if user.member.is_master %}
                        <div class="row col-12 mb-2">
                            <div class="col">
                                Направления тестирования:
                            </div>
                            <div class="col">
                                {{ test.directions.all|join:", " }}
                            </div>
                        </div>
                        <div class="row col-12 mb-2">
                            <div class="col">
                                Тип теста:
                            </div>
                            <div class="col">
                                {{ test.type }}
                            </div>
                        </div>
                        <div class="row col-12 mb-2">
                            <div class="col">
                                Создатель теста:
                            </div>
                            <div class="col">
                                {{ test.creator }}
                            </div>
                        </div>
                        {% if test.creator == user.member %}
                            <div class="d-flex justify-content-end mb-2">
                                <a href="{% url 'add_question_to_test' test.pk %}" class="me-2">
                                    <button type="button" class="btn btn-secondary">Добавить вопрос</button>
                                </a>
                                <a href="{% url 'edit_test' test.pk %}" >
                                    <button type="button" class="btn btn-primary">Редактировать</button>
                                </a>
                            </div>
                        {% endif %}
                    {% elif user.member.is_slave %}
                        <div class="d-flex justify-content-center mb-2">
                            {% if not blocked %}
                                <a href="{% url 'add_test_result' test.pk %}">
                                    <button type="button" class="btn btn-primary">Пройти тест</button>
                                </a>
                            {% else %}
                                <div class="alert alert-info mb-0">
                                    {{ msg }}
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}