{% csrf_token %}
{% if msg %}
    <div class="alert alert-danger">{{ msg }}</div>
{% endif %}

{% for f in test_form %}
    <div class="form-group row mb-2">
        <div class="col-4">
            <label class="col-form-label">{{ f.label }}</label>
            <small class="form-text text-muted d-block">{{ f.help_text }}</small>
        </div>
        <div class="col-8">
            {{ f }}
        </div>
    </div>
    {% if app_form.errors %}
        <div class="mt-1 mb-0 alert-danger rounded">
            {{ f.errors }}
        </div>
    {% endif %}
{% endfor %}

<div class="mb-2 text-center">
    <button type="submit" class="btn btn-primary">Сохранить</button>
</div>