{% extends 'base.html' %}

{% block title %}
Регистрация
{% endblock %}
{% block content %}
    <div class="container" id="register">
    <div class="row">
        <div class="col-md-6 offset-3">
            <form action="{% url 'register' %}" method="post">
                {% include 'includes/form_field_template.html' %}
                <button type="submit" class="mt-2 btn btn-outline-dark">Зарегестрироваться</button>
            </form>
            {% if success %}
            <blockquote class="blockquote text-center">
                <p class="mb-2">{{ msg }}</p>
            </blockquote>
            {% endif %}
        </div>
    </div>
    </div>
{% endblock %}
